.App {
  display: flex;
  align-items:stretch;
  min-height:100vh;
  min-width:100vw;

  background-image: linear-gradient(#787878,#404040,#303030,#212121,#141414);
  font-family: proxima-nova, Montserrat, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

body {
  margin:0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

textarea, input[type=text] {
  border-radius: 5px;
  font-family: proxima-nova, Montserrat, sans-serif;
  box-sizing:border-box;
  border:none;
  resize:none;
}
textarea:focus, input[type=text]:focus {
  outline:none;
}

#logo {
  width: 110px;
  height:auto;
  position:relative;
  top:9px;
  margin: 0 5px;
}


.btn {
  --width: 260px;
  --height: 75px;
  background:#EAD832;
  border-radius: calc(var(--height) / 2);
  width: var(--width);
  height: var(--height);
  color:white;
  text-align: center;
  line-height: var(--height);
  font-size: 33px;
  font-weight: 700;
  margin: 1px 2.5px;
}
.btn:hover {
  cursor: pointer;
  --width:265px;
  --height:77px;
  filter: brightness(110%);
  margin:0;
}
.btn.gray {
  background: #787878;
  cursor: default;
}

#save-it.green {
  background: #1ED760;
  cursor: pointer;
}

.main {
  flex: 1;
  display:flex;
  min-height: 100vh;
  position: relative;
}
.main > .container {
  padding: 100px 10px 40px 50px;
  display: flex;
  flex-direction: column;
  flex:1;
  max-width: 100%;
  box-sizing: border-box;
}

.panel {
    background-color: black;
    flex: .33;
}
.panel > .container {
  margin: 0 45px;
}
.panel h1 {
  /*font-family: Montserrat;*/
  color: #EAD832;
  font-weight: 700;
  font-style: italic;
  font-size: 96px;
  margin-top: 100px;
  margin-bottom: 0; 

}
.panel p {
  color: white;
}
.panel hr {
  margin: 60px 75% 20px 0;
}
.panel .title-div p {
  margin-top: 5px;
}
.panel .desc-div p {
  margin-right: 20px;
}
.panel .bold {
  color: #EAD832;
  font-weight: 700;
}
.panel .about-contact {
  position: absolute;
  bottom: 30px;
  color: gray;
}

.profile-image {
  background:lightgray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profile {
  position: absolute;
  right: 0;
  top:0;
  margin: 20px 30px 0 0;
}
.profile * {
  display: inline-block;
  vertical-align: middle;
}
.profile .user-name {
  margin: 0 15px 0 0;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.profile .user-name:hover,.profile-image:hover {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background-color: #474747;
  color: #d6d6d6;
  width: 120px;
  height:35px;
  right: 0;
  top: calc(100% + 5px);
  display:none;
  align-items : center;
  justify-content: flex-start;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.35);
  border: 1px solid #404040;
}
.dropdown span {
  margin-left: 7px;
  font-size: 17px;
}
.dropdown:hover{
  cursor: pointer;
}


.say-it {
  display:flex;
}
.say-it .left {
  flex:1;
}
.say-it .desc {
  color: #f0f0f0;
}
.say-it textarea {
  width:100%;
  height: 100px;
  font-size:23px;
  resize: none;
  padding: 10px;
}
.say-it .settings {
  display:flex;
  align-items: center;
  flex-wrap: wrap;
}
.say-it .settings > label {
  font-size: 20px;
  color:#bfbfbf;
  margin: 10px 10px 0 10px;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.say-it .settings > * {
  margin: 10px 0 0 0;
}
.say-it .switch {
  margin-right: 10px;
}
.say-it .settings .advanced {
  font-size: 20px;
  color: #D6D6D6;
  margin-left: auto;
  margin-right: 10px;
}
.say-it .settings .advanced:hover {
  cursor: pointer;
  text-decoration: underline;
}
.say-it .btn-container {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.say-it .btn {
  position: relative;
  bottom: -102px;
}

.lower {
  display: flex;
  margin-top: 50px;
  flex:1;
}

.playlist {
  background-image: linear-gradient(#2a2a2a,#000000);
  border-radius: 5px;
  flex: 1;
  padding: 10px 10px;
}
.playlist .nofind {
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.playlist h2 {
  top:50%;
  color:white;
  font-weight: 800;
  margin:10px;
}
.playlist p {
  color: #838383;
  margin:0 10% 20%
}

.header {
  text-transform: uppercase;
  color:#838383;
  font-size: 16px;
  min-height:30px;
  position: relative;
  border-bottom: 2px solid #474747;
}
.header > * {
  position: absolute;
  display: inline-block;
}
.header .title {
  left: 3%;
}
.header .artist {
  left: 38%
}
.header .album {
  left: 70%
}

.songs {
  list-style-type: none;
  overflow: auto;
  white-space: nowrap;
  min-height: 100%;
  padding:0;
  margin:0;
}
.song {
  font-size: 20px;
  color: #c7c7c7;
  position: relative;
  border-bottom: 1px solid #474747;
  min-height:30px;
  padding: 14px 0 6px;
}
.song:hover {
  background-color: #474747;
}
.song > * {
  display: inline-block;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}
.song a{
  color: #c7c7c7;
  text-decoration: none;
}
.song a:hover {
  color: #1ED760;
  cursor: pointer;
  text-decoration: underline;
}
.song .track{
  left: 3%;
  max-width: 35%
}
.song .artist{
  left:38%;
  max-width: 32%
}
.song .album{
  left: 70%;
  max-width:30%
}


.buttons {
  flex: 0 0 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
}
.buttons .save-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:80px;
  position: relative;
}
.buttons .save-it p {
  position: absolute;
  bottom: 80px;
  color: #1ED760;
}
.save-it p.loggedIn {
  display:none;
}
.buttons .save-it p:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* MEDIA QUERIES */

.mobile-playlist {
  display:none;
}
.mobile-divider {
  display: none;
}

@media screen and (max-width: 1300px) {
  .main > .container {
    padding-right: 50px;
  }
  .say-it .btn-container {
    flex: 0 0 0;
    margin-left: 20px;
  }
  .lower {
    flex-direction: column;
  }
  .buttons {
    margin-top: 30px;
    flex-direction: row;
    align-items: flex-end;
    flex: 0 0 0;
    justify-content: space-evenly;
  }
  .buttons .save-it {
    margin-top:0;
  }
  .buttons .save-it p {
    text-align: center;
    font-size: 19px;
  }
}

@media screen and (max-width: 1050px) {
  .App {
    flex-direction: column;
  }
  .panel {
    flex: 0 0 100vh;
  }
  .panel > .container {
    padding: 20px;
    max-width: 600px;
    margin: auto;
  }

  .say-it {
    flex-direction: column;
  }
  .say-it .btn-container {
    margin-top: 20px;
    margin-left:0px;
  }
  .say-it .btn {
    position: static;
  }
  .say-it .desc {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  .main > .container {
    padding-top: 75px;
  }
  .say-it .desc {
    font-size: 20px;
  }
  .say-it textarea {
    font-size: 20px;
    height: 70px;
  }
  .buttons .btn {
    --width: 35vw;
    --height: 60px;
    font-size: calc(4vw + 5px);
  }
  .buttons .btn:hover {
    --width: calc(35vw + 5px);
    --height: 62px;
  }
  .buttons .save-it p {
    bottom: 65px;
  }
}

/* MOBILE */

@media screen and (max-width: 550px) {
  .panel h1 {
    margin-top:50px;
    font-size: 22vw;
  }
  .panel p {
    font-size: 6vw;
  }
  .desktop-playlist {
    display: none;
  }
  .mobile-playlist {
    display: block;
  }
  .song {
    border-bottom:none;
  }
  .song > * {
    display: block;
    position: static;
  }
  .mobile-divider {
    display: block;
    margin: 0;
    border-top: 1px solid #505050;
  }
  .playlist {
    background: none
  }
  .track-mobile {
    font-size: 22px;
  }
  .song .artist-album-mobile {
    margin-top: 2px;
    font-size: 17px;
    color: #818181;
  }
  .song .artist-album-mobile a {
    color: #818181;
  }

  .btn {
    --width: 200px;
    --height: 60px;
    font-size: 27px;
  }
  .btn:hover {
    --width: 205px;
    --height: 62px;
  }
  .say-it .settings > label {
    font-size: 15px;
  }
  .say-it .settings > .advanced {
    font-size: 15px;
  }
  .buttons .save-it p {
    font-size: 4vw;
  }
  .profile .user-name {
    font-size: 17px;
  }
  .profile-image {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 400px) {
  .main > .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}