.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.7);
}

.modal-box {
    box-sizing: border-box;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*height: 400px;*/
    min-height: 250px;
    max-height: 80vh;
    width: 750px;
    max-width: 90vw;
    background-color: #373737;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 7px;
    z-index: 1;
    padding: 40px;
    
    font-family: proxima-nova, Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    animation: modal-in .2s;
}

.modal-box.share-it {
    min-height: 330px;
}

@keyframes modal-in {
    0% {
        top:20%;
        opacity: 0;
    }
    100% {}
}

h1 {
    color: #EAD832;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    margin-top: 20px;
}
.share-it .wrapper {
    margin-top: 50px;
    display:flex;
    align-items: center;
}
.share-it .url-box{
    display: block;
    background-color: white;
    border-radius: 5px;
    flex: 1 1 calc(60%);
    overflow: hidden;
    font-size: 28px;
    padding: 3px 0 3px 8px;
}
#copy {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#copy .btn {
    --width: 120px;
    --height: 40px;
    margin: 1px 2px;
    font-size: 24px;
}
#copy .btn:hover {
    --width: 124px;
    --height: 42px;
    margin:0;
}
#copied {
    position: absolute;
    top:45px;
    color: white;
    display: none;
}
#copied.active {
    display:block;
    animation-name: copied-in;
    animation-duration: .2s;
}
.share-it .desc {
    margin-top: 70px;
    font-size: 28px;
    color: #c9c9c9;
}

@keyframes copied-in {
    from {
        opacity: 0;
        transform: translate(0,-15px);
    }
    to {}
}

.save-it.modal-box{
    width: 700px;
    min-height: 750px;
}
.save-it h1 {
    color: #1ED760;
    margin-bottom: 0px;
}
.save-it p {
    margin: 0px;
    color: #A3A3A3;
}
#change {
    text-decoration: underline;
}
#change:hover {
    cursor: pointer;
    color:white;
}

.save-it.modal-box .fields{
    margin-top: 100px;
    margin-bottom:40px;
}
.save-it.modal-box .fields p {
    margin: 0 0 7px 0;
    color:#c4c4c4;
}
.save-it.modal-box .name {
    font-size: 25px;
    padding: 7px;
    padding-left: 12px;
    margin-bottom:20px;
    width: 80%;
}
.save-it.modal-box .desc {
    font-size: 25px;
    padding: 7px;
    padding-left: 12px;
    width: 80%;
    height:250px;
}
.save-it .container {
    margin-top: 20px;
    margin-left: 5%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.save-it #save {
    background-color: #1ED760;
}
.save-it #created{
    font-size: 18px;
    margin-top:10px;
    font-weight: 300;
}

.advanced.modal-box {
    width: 800px;
    min-height: 450px;
}
.advanced h4 {
    color:white;
    margin-bottom:30px;
    font-size:28px;
}
.advanced hr {
    border-top: 2px solid #454545;
    margin-top: 40px;
    margin-bottom: 40px;

}
.advanced label.switch-label {
    color: #c4c4c4;
}
.advanced .switch {
    margin-right: 20px;
}
.advanced .slider-and-input {
    display:flex;
}
.advanced .slider-container {
    flex: 0 1 300px;
}
.advanced .slider-input {
    flex: 0 1 50px;
    max-width:50px;
    margin-left:40px;
    font-size: 24px;
    padding-left:10px;
    border-radius: 2px;
    color: #333333
}

.advanced p {
    color: #c4c4c4;
    font-size: 20px;
    font-weight: 100;
    margin-right:20%;
}

.load-bg {
    opacity: 0.3;
}
.load.modal-box {
    width: 500px;
    min-height: 350px;
    background-color: #373737;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:60px;
}

.load .searching {
    margin-top:30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.load h3 {
    font-size: 40px;
    font-style: italic;
    color: #EAD832;
    margin: 0 0 30px 0;
    font-weight: 600;
}
.load p {
    text-align: center;
    color: #888888;
}
.load .bold {
    color: #bbbbbb;
}
#cancel.btn {
    --width: 120px;
    --height: 40px;
    margin: 1px 2px;
    font-size: 20px;
}
#cancel.btn:hover {
    --width: 124px;
    --height: 42px;
    margin:0;
}

.load-screen-wrap {
    z-index: 10000;
}
.load-screen.modal-box {
    background: rgb(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MEDIA QUERIES (mobile) */

@media screen and (max-width: 550px) {
    .modal-box {
        padding: 20px;
    }
    .share-it.modal-box .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .share-it.modal-box #copy {
        margin-left: 0;
        margin-top: 10px;
    }
    .share-it.modal-box #url-box {
        max-width: 100%;
        font-size: 22px;
    }
    .share-it .desc {
        font-size: 20px;
    }
    h1 {
        font-size: 35px;
    }
    .advanced h1 {
        font-size: 25px;
    }
    .advanced h4 {
        font-size: 20px;
        margin: 15px 0;
    }
    .advanced p {
        font-size: 13px;
    }
    .advanced hr {
        margin: 20px 0;
    }
    .advanced label {
        font-size: 18px;
    }
    .load p {
        font-size: 20px;
    }
    .modal-box.load {
        padding: 20px;
    }
    .save-it.modal-box {
        min-height: 0;
    }
    .save-it.modal-box .desc {
        height: 100px;
    }
    .save-it.modal-box .desc,.save-it.modal-box .name {
        font-size: 20px;
    }
    .save-it.modal-box .fields {
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .save-it.modal-box .fields p {
        font-size: 18px;
    }
    .save-it.modal-box .logIn {
        font-size: 15px;
    }
    .save-it.modal-box h1 {
        font-size: 25px;
    }
    .save-it #created {
        font-size: 15px;
    }
  }