.modal-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: rgba(0,0,0,0.7);
}

.modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 400px;
    min-height: 250px;
    width: 750px;
    min-width: 600px;
    background-color: #373737;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    border-radius: 7px;
    z-index: 1;
    padding: 40px;

    font-family: proxima-nova, Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    animation: modal-in .2s;
}

.modal-box.share-it {
    height: 330px;
}

@keyframes modal-in {
    0% {
        top:20%;
        opacity: 0;
    }
    100% {}
}

h1 {
    color: #EAD832;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    margin-top: 20px;
}
.share-it .wrapper {
    margin-top: 50px;
    display:flex;
    align-items: center;
}
.share-it .url-box{
    display: block;
    background-color: white;
    border-radius: 5px;
    flex: 1 1 calc(60%);
    overflow: hidden;
    font-size: 28px;
    padding: 3px 0 3px 8px;
}
#copy {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#copy .btn {
    --width: 120px;
    --height: 40px;
    margin: 1px 2px;
    font-size: 24px;
}
#copy .btn:hover {
    --width: 124px;
    --height: 42px;
    margin:0;
}
#copied {
    position: absolute;
    top:45px;
    color: white;
    display: none;
}
#copied.active {
    display:block;
    animation-name: copied-in;
    animation-duration: .2s;
}
.share-it .desc {
    margin-top: 70px;
    font-size: 28px;
    color: #c9c9c9;
}

@keyframes copied-in {
    from {
        opacity: 0;
        transform: translate(0,-15px);
    }
    to {}
}

.save-it.modal-box{
    width: 700px;
    height: 750px;
}
.save-it h1 {
    color: #1ED760;
    margin-bottom: 0px;
}
.save-it .logIn {
    margin-top: 0px;
    color: #A3A3A3;
}
#change {
    text-decoration: underline;
}
#change:hover {
    cursor: pointer;
    color:white;
}

.save-it.modal-box .fields{
    color:#c4c4c4;
    margin-top: 100px;
}
.save-it.modal-box .fields p {
    margin: 0 0 7px 0;
}
.save-it.modal-box .name {
    font-size: 25px;
    padding: 7px;
    padding-left: 12px;
    margin-bottom:20px;
    width: 80%;
}
.save-it.modal-box .desc {
    font-size: 25px;
    padding: 7px;
    padding-left: 12px;
    width: 80%;
    height:250px;
}
.save-it .container {
    margin-top: 60px;
    margin-left: 5%;
}
.save-it #save {
    
    background-color: #1ED760;
}

.advanced.modal-box {
    width: 800px;
    height: 450px;
}
.advanced h4 {
    color:white;
    margin-bottom:30px;
    font-size:28px;
}
.advanced hr {
    border-top: 2px solid #454545;
    margin-top: 40px;
    margin-bottom: 40px;

}
.advanced label.switch-label {
    color: #c4c4c4;
}
.advanced .switch {
    margin-right: 20px;
}

