@keyframes wave {
    0% {
      height: 6px;
      background: #877D23;
    }
    25% {
      height: 60px;
      background: #EAD832;
    }
    50% {
      height: 6px;
      background: #877D23;
    }
    100% {
      height: 6px;
      background: #877D23;
    }
  }